
.touch{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 12vh;
    width: 100vw;
    background-color: rgb(68, 100, 101);
}
.contact{
    display:flex;
    flex-direction:column ;
    
}
.emailsubject{
    display:flex;
    flex-direction:row;
    background-color: red;
    align-items: center;
    justify-content: space-evenly;
    height: 8vh;
    width: 100vw;

}
input{
    width: 30vw;
    height: 3vh;
}
.text{
    display: flex;
    width: 0cqmax;

}
